<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.dao.DicMapper">
  <resultMap id="BaseResultMap" type="com.education.pojo.po.Dic">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="group" jdbcType="VARCHAR" property="group" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="val" jdbcType="VARCHAR" property="val" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  
   <sql id="Base_Column_List">
       id ,  group , name , val , description , desc 
   </sql>
  
    <select id="queryByPrimaryKey" resultMap="BaseResultMap">
       select 
	    <include refid="Base_Column_List" />
	    from t_dic
	    where id = #{id,jdbcType=BIGINT}
    </select>
   
    <insert id="insert">
	    insert into t_dic (id,group,name,val,description,desc)
	    values (#{id,jdbcType=BIGINT},#{group,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{desc,jdbcType=VARCHAR})
    </insert>
    
    <insert id="insertSelective">
	     insert into t_dic
		    <trim prefix="(" suffix=")" suffixOverrides=",">
			     <if test="id != null">
			        id,
			      </if>
			     <if test="group != null">
			        group,
			      </if>
			     <if test="name != null">
			        name,
			      </if>
			     <if test="val != null">
			        val,
			      </if>
			     <if test="description != null">
			        description,
			      </if>
			     <if test="desc != null">
			        desc,
			      </if>
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides=",">
			     <if test="id != null">
			        #{id,jdbcType=BIGINT},
			      </if>
			     <if test="group != null">
			        #{group,jdbcType=VARCHAR},
			      </if>
			     <if test="name != null">
			        #{name,jdbcType=VARCHAR},
			      </if>
			     <if test="val != null">
			        #{val,jdbcType=VARCHAR},
			      </if>
			     <if test="description != null">
			        #{description,jdbcType=VARCHAR},
			      </if>
			     <if test="desc != null">
			        #{desc,jdbcType=VARCHAR},
			      </if>
		    </trim>
    </insert>
    
    <update id="updateByParma" parameterType="java.util.Map">
	  update t_dic
	    <set>
	          <if test="id != null">
		        id = #{id,jdbcType=BIGINT},
		      </if>
	          <if test="group != null">
		        group = #{group,jdbcType=VARCHAR},
		      </if>
	          <if test="name != null">
		        name = #{name,jdbcType=VARCHAR},
		      </if>
	          <if test="val != null">
		        val = #{val,jdbcType=VARCHAR},
		      </if>
	          <if test="description != null">
		        description = #{description,jdbcType=VARCHAR},
		      </if>
	          <if test="desc != null">
		        desc = #{desc,jdbcType=VARCHAR},
		      </if>
	    </set>
	    where id = #{id,jdbcType=BIGINT}
	  </update>
	  
  
  
  <select id="listByParma"  parameterType="java.util.Map" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from t_dic
    <where>
            <if test="id != null">
		        id = #{id,jdbcType=BIGINT},  
		     </if>
            <if test="group != null">
		        group = #{group,jdbcType=VARCHAR},  
		     </if>
            <if test="name != null">
		        name = #{name,jdbcType=VARCHAR},  
		     </if>
            <if test="val != null">
		        val = #{val,jdbcType=VARCHAR},  
		     </if>
            <if test="description != null">
		        description = #{description,jdbcType=VARCHAR},  
		     </if>
            <if test="desc != null">
		        desc = #{desc,jdbcType=VARCHAR},  
		     </if>
    </where>
  </select>
  
  <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_dic(id,group,name,val,description,desc)
	    VALUES
	    <foreach collection="list" item="item" separator=",">
	        (#{item.id},#{item.group},#{item.name},#{item.val},#{item.description},#{item.desc})
	    </foreach>
  </insert>
  
  
  
</mapper>